<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey I'm Adam Jarrell!</h1>
		<p>I am following along with these rails tutorials to further my knowledge of software development.</p>
		<p>This week we built a blog app on Ruby on Rails!</p>
	</div>
</div>
